{% extends "base.html" %}
{% load static %}

{% block title %}Bienvenue Etudiant{% endblock %}

{% block bodyId %}listStudentPage{% endblock %}

{% block content %}

    <h1>Liste des UEs de {{ student.first_name }} {{ student.last_name }}</h1>

        <ul>
            {% for ue in academic_ues %}
                <li>{{ ue.idUE }} - {{ ue.wording }} ({{ ue.academicYear }}, Cycle {{ ue.yearCycle }})</li>
            {% empty %}
                <li>Aucune UE trouvée.</li>
            {% endfor %}
        </ul>

{% endblock %}