{% extends "base.html" %}

{% block content %}
     <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>
<h1>Mes Inscriptions Non Passées</h1>
<div>
        <p>
            <label for="ueFilter">Filter par UE</label>
            <select id="ueFilter">
                <option value="">Tout</option>
                {% for registration in registrations %}
                    <option value="{{ registration }}">{{ registration }}</option>
                {% endfor %}
            </select>

            <label for="academicYear">Filter par année académique</label>
            <select id="academicYear">
                <option value="">Tout</option>
                {% for academic in academicYear %}
                    <option value="{{ academic }}">{{ academic }}</option>
                {% endfor %}
            </select>

            <label for="yearCycle">Filter par cycle</label>
            <select id="yearCycle">
                <option value="">Tout</option>
                {% for year in yearCycle %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
             <label for="status">Filter par status</label>
            <select id="status">
                <option value="">Tout</option>
                {% for stat in status %}
                    <option value="{{ stat }}">{{ stat }}</option>
                {% endfor %}
            </select>
        </p>
    </div>

<table>
    <thead>
        <tr>
            <th>UE</th>
            <th>Année académique</th>
            <th>Cycle</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for registration in registrations %}
            <tr>
                <td>{{ registration.academic_ue.wording }}</td>
                <td>{{ registration.academic_ue.academicYear }}</td>
                <td>Cycle {{ registration.academic_ue.yearCycle }}</td>
                <td>
                    {% if registration.status == 'NP' %}
                        Non Passé
                    {% elif registration.status == 'AP' %}
                        Approuvé
                    {% else %}
                        Inconnu
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Aucune inscription non passée.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    <script>
     $(document).ready(function() {
            var table = $('table').dataTable();

            $('#ueFilter').on('change', function() {
                var val = $(this).val();
                table.column(0).search(val).draw();
            });
            $('#academicYear').on('change', function() {
                var val = $(this).val();
                table.column(1).search(val).draw();
            });
            $('#yearCycle').on('change', function() {
                var val = $(this).val();
                table.column(2).search(val).draw();
            });
             $('#status').on('change', function() {
                var val = $(this).val();
                table.column(3).search(val).draw();
            });
        })
    </script>

    <a href="{% url 'student_prerequisites' %}">lister les prérequis</a>
<a href="{% url 'student_registration' %}">🔙 Retour à toutes mes inscriptions</a>

{% endblock %}