{% extends "base.html" %}

{% block content %}
     <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>
<h1>Mes Prérequis 📚</h1>
 <div>
        <p>
            <label for="wording">Filter par UE</label>
            <select id="wording">
                <option value="">Tout</option>
                {% for word in wording %}
                    <option value="{{ word }}">{{ word }}</option>
                {% endfor %}
            </select>

            <label for="section">Filter par section</label>
            <select id="section">
                <option value="">Tout</option>
                {% for words in section.wording %}
                    <option value="{{ words }}">{{ words }}</option>
                {% endfor %}
            </select>

            <label for="yearCycle">Filter par année académique</label>
            <select id="yearCycle">
                <option value="">Tout</option>
                {% for year in AcademicYear %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>

            <label for="prerequis">Filter par prérequis</label>
            <select id="prerequis">
                <option value="">Tout</option>
                {% for prerequis in ue_with_prerequisites %}
                    <option value="{{ prerequis }}">{{ prerequis }}</option>
                {% endfor %}
            </select>
        </p>
    </div>


<table>
    <thead>
        <tr>
            <th>UE</th>
            <th>Section</th>
            <th>Année</th>
            <th>Prérequis</th>
        </tr>
    </thead>
    <tbody>
        {% for item in ue_with_prerequisites %}
            <tr>
                <td>{{ item.ue.wording }}</td>
                <td>{{ item.ue.section.wording }}</td>
                <td>{{ item.ue.academicYear }}</td>
                <td>
                    {% if item.prerequisites %}
                        <ul>
                        {% for prereq in item.prerequisites %}
                            <li>{{ prereq.wording }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        Aucun prérequis
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Aucune UE enregistrée.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<a href="{% url 'student_registration' %}">🔙 Retour à toutes mes inscriptions</a>

 <script>
        $(document).ready(function() {
            var table = $('table').dataTable();

            $('#wording').on('change', function() {
                var val = $(this).val();
                table.column(0).search(val).draw();
            });
            $('#section').on('change', function() {
                var val = $(this).val();
                table.column(1).search(val).draw();
            });
            $('#yearCycle').on('change', function() {
                var val = $(this).val();
                table.column(2).search(val).draw();
            });
            $('#prerequis').on('change', function() {
                var val = $(this).val();
                table.column(2).search(val).draw();
            });
        })
    </script>
{% endblock %}