{% extends "base.html" %}
{% load static %}

{% block title %}Bienvenue Etudiant{% endblock %}

{% block bodyId %}WelcomeStudentPage{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>

    <h1>IpefaSup - Etudiant</h1>



    <a href="{% url 'edit_own_profile' %}">Modifier mon profil</a>
    <a href="{% url 'student_registration' %}">lister mes cours</a>
    <a href="{% url 'student_participation' %}">Mes participations</a>





{% endblock %}