{% extends "base.html" %}
{% load static %}

{% block title %}Bienvenue Etudiant{% endblock %}

{% block bodyId %}WelcomeStudentPage{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>

    <h1>IpefaSup - Etudiant</h1>


<div class="action-buttons">
    <a href="{% url 'edit_own_profile' %}" class="btn-red">Modifier mon profil</a>
    <a href="{% url 'student_registration' %}" class="btn-red">Lister mes cours</a>
    <a href="{% url 'student_participation' %}" class="btn-red">Mes participations</a>
</div>
<br>
    <br>
    <br>
    <br>
<div class="action-buttons">
    <a href="{% url 'login' %}" class="btn-red">Quitter</a>

</div>


{% endblock %}