{% extends "base.html" %}

{% load static %}

{% block title %}Mes Unités Académiques{% endblock %}

{% block bodyId %}AcademicUETeacherPage{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>

  <h1>Mes Unités Académiques</h1>

  <ul>
    {% for ue in academic_ues %}
      <li>
        <a href="{% url 'students_in_academic_ue' academic_ue_id=ue.idUE %}">{{ ue.wording }} ({{ ue.academicYear }}, Cycle {{ ue.yearCycle }})</a>
      </li>
    {% empty %}
      <li>Aucune unité académique assignée à ce professeur.</li>
    {% endfor %}
  </ul>

    <br>
    <br>
    <div class="action-buttons">
        <a href="{% url 'welcomeTeacher' %}" class="btn-red" >Retour</a>
    </div>
{% endblock %}