{% extends "base.html" %}
{% load static %}

{% block title %}Unités académiques du professeur{% endblock %}

{% block bodyId %}AcademicUETeacherPage{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>


   <h1>Mes Unités d’Enseignement</h1>

    <ul>
      {% for ue in academic_ues %}
        <li>{{ ue.idUE }} - {{ ue.wording }} ({{ ue.academicYear }}, Cycle {{ ue.yearCycle }})</li>
      {% empty %}
        <li>Vous n’avez aucune UE assignée pour l’instant.</li>
      {% endfor %}
    </ul>
<div class="action-buttons">
      <a href="{% url 'welcomeTeacher' %}" class="btn-red">Retour</a>
</div>

{% endblock %}