{% extends 'base.html' %}

{% block content %}
  <div class="form-container">
    <h1 class="form-title">Ajouter une inscription</h1>

  {% if messages %}
    {% for message in messages %}
        <p class="alert {{ message.tags }}">{{ message }}</p>
    {% endfor %}
  {% endif %}

    <form method="post">
      {% csrf_token %}

      <div class="form-row">
        <label for="student">Étudiant :</label>
        <select name="student" id="student" required>
          {% for student in students %}
            <option value="{{ student.id }}">{{ student.first_name }} {{ student.last_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-row">
        <label for="academic_ue">Unité d'enseignement :</label>
        <select name="academic_ue" id="academic_ue" required>
          {% for ue in academic_ues %}
            <option value="{{ ue.id }}">{{ ue.wording }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-row buttons">
        <button type="submit">Ajouter</button>
      </div>
    </form>
  </div>
    <br>
    <br>
   <div class="action-buttons">
    <a href="{% url 'registration_list' section.id %}" class="btn-red">⬅ Retour à la liste des inscriptions</a>
</div>

{% endblock %}
