{% extends 'base.html' %}
{% load static %}

{% block title %}Ajout d'un étudiant{% endblock %}

{% block bodyId %}addStudentEducatorPage{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>

    <h1>Ajouter un Etudiant</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Ajouter</button>
  </form>
    <br>
    <br>
  <a href="{% url 'student_manage' %}">Retour à la gestion des étudiants</a>
{% endblock %}
