{% extends "base.html" %}
{% load static %}

{% block title %}Modifier une Session{% endblock %}

{% block bodyId %}modifySessionPage{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<header class="welcome-header">
    <div class="user-info">
        Bienvenue sur IpefaSup, {{ logged_user.first_name }} {{ logged_user.last_name }}
    </div>
    <div class="date-time">
        Nous sommes le {{ current_date_time }}
    </div>
</header>

<h1 class="page-title">Modifier la session de l'UE : {{ session.academicUE.wording }}</h1>

<form method="POST" class="styled-form">
    {% csrf_token %}
    <label for="jour">Jour :</label>
    <input type="number" name="jour" min="1" max="31" value="{{ session.jour }}" required>

    <label for="mois">Mois :</label>
    <input type="number" name="mois" min="1" max="12" value="{{ session.mois }}" required>

    <div class="action-buttons">
        <button type="submit" class="btn-red">Enregistrer les modifications</button>
        <a href="{% url 'manage_sessions' session.academicUE.idUE %}" class="btn-red">Retour à la gestion des sessions</a>
    </div>
</form>
{% endblock %}
