{% extends "base.html" %}
{% load static %}

{% block title %}Lister les sections{% endblock %}

{% block bodyId %}listSectionPage{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>
    <h1>Liste des sections</h1>
    <ul>
      {% for section in sections %}
        <li>
          <a href="{% url 'registration_list' section.id %}">{{ section.wording }}</a>
        </li>
      {% empty %}
        <li>Aucune section disponible.</li>
      {% endfor %}
    </ul>
{% endblock %}


