header {
	position: absolute;
	left:0;
	top: 0;
	height: 129px;
	width: 100%;
	background: #cd1531 url('../img/logo.png') no-repeat right;
}

body {
	margin: 0;
	padding: 0;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-sherif, serif;
	font-size: 11px;
	color: #000333;
}

body#loginPage section#content {
	position: absolute;
	top: 150px;
	left: 50%;
	width: 500px;
	margin: 0 0 0 -250px;
	padding: 0;
}

body#welcomePage#add_studentPage section#content {
	padding-top: 200px;
	margin-top: 200px;
}


form label {
	display: block;
	width: 150px;
	float: left;
	text-align: right;
	padding: 4px 10px 0 0;
	
}
form input[type="email"], form input[type="text"],
form input[type="password"]{
	display: block;
	width: 250px;
	padding: 2px;
}

a {
	display: block;
  	margin-bottom: 10px;
	color: #cd1531;
	margin-left: 50px;
	font-size: 150%;
}

a:hover {
  font-size: 200%;
}


form p.error {
	margin-left: 160px;
	color: #d23d24
}

input[name="csrfmiddlewaretoken"] {
    display: none;
}

h1 {
	padding-top: 200px;
	margin-left: 50px;
	font-size: 35px;
}

.admin-header {
    background-color: #cd1531; /* optionnel, pour faire ressortir le blanc */
    padding: 10px;
}

.welcome-header .user-info,
.welcome-header .date-time {
    display: flex;
    align-items: center;
	color: white;
    font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3rem;
	margin-left: 20px;
	margin-top: 20px;
}


.sort {
	display: inline;
}

/* Style de base pour le tableau */
table {
  width: 90%;                /* occupe toute la largeur du conteneur */
  border-collapse: collapse;  /* fusionne les bordures pour un aspect net */
  margin: 20px 0;             /* espacement vertical autour du tableau */
  font-family: Arial, sans-serif;
  font-size: 17px;
}

/* Style pour les cellules d'en-tête */
thead th {
  background-color: #f2f2f2;  /* couleur de fond douce pour l'en-tête */
  color: #333;                /* couleur de texte sombre pour un bon contraste */
  padding: 12px 8px;          /* espacement interne pour une meilleure lisibilité */
  border: 1px solid #ddd;     /* bordure légère autour des cellules */
  text-align: left;
}

/* Style pour les cellules du corps de tableau */
tbody td {
  padding: 10px 8px;
  border: 1px solid #ddd;
}

/* Alternance des couleurs pour les lignes du corps */
tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Effet survol pour les lignes */
tbody tr:hover {
  background-color: #f1f1f1;
}

/* Gestion du cas sans données */
tbody tr:last-child td[colspan] {
  text-align: center;
  font-style: italic;
  color: #777;
}

.error-input {
        border: 2px solid red;
        background-color: #ffe6e6;
    }
#email-error {
	color: red;
	font-size: 0.9em;
	margin-top: 5px;
}