{% extends "base.html" %}
{% load static %}

{% block title %}Création d'un compte{% endblock %}

{% block bodyId %}userProfilePage{% endblock %}

{% block content %}
    <h1>Création d'un compte</h1>

    <form method="post" id="mainForm">
        {% csrf_token %}

        <label for="profileType">Vous êtes :</label>
        <select name="profileType" id="profileType">
            <option value="Student" {% if studentForm.is_bound %}selected="selected"{% endif %}>Étudiant</option>
            <option value="Teacher" {% if teacherForm.is_bound %}selected="selected"{% endif %}>Professeur</option>
            <option value="Educator" {% if educatorForm.is_bound %}selected="selected"{% endif %}>Éducateur</option>
            <option value="Administrator" {% if administratorForm.is_bound %}selected="selected"{% endif %}>Administrateur</option>
        </select>

        <div id="studentForm" class="formType">
            {{ studentForm.as_p }}
        </div>

        <div id="teacherForm" class="formType">
            {{ teacherForm.as_p }}
        </div>

        <div id="educatorForm" class="formType">
            {{ educatorForm.as_p }}
        </div>

        <div id="administratorForm" class="formType">
            {{ administratorForm.as_p }}
        </div>

        <button type="submit">Créer un compte</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function displayRightForm() {
            const profileType = $('#profileType').val();

            $('.formType').hide().find(':input').prop('disabled', true);

            if (profileType === 'Student') {
                $('#studentForm').show().find(':input').prop('disabled', false);
            } else if (profileType === 'Teacher') {
                $('#teacherForm').show().find(':input').prop('disabled', false);
            } else if (profileType === 'Educator') {
                $('#educatorForm').show().find(':input').prop('disabled', false);
            } else if (profileType === 'Administrator') {
                $('#administratorForm').show().find(':input').prop('disabled', false);
            }
        }

        $(document).ready(function() {
            displayRightForm();
            $('#profileType').change(displayRightForm);
        });
    </script>
{% endblock %}
