{% extends "base.html" %}
{% load static %}

{% block title %}Ajout d'une Unité Académique{% endblock %}

{% block bodyId %}addAcademicUEPage{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>

    <h1>Ajout d'une unité académique</h1>
    <form action="{% url 'add_academic_ue' %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" value="Ajouter">
        </p>
    </form>
{% endblock %}
