{% extends "base.html" %}
{% load static %}

{% block title %}Ajout d'une Session{% endblock %}

{% block bodyId %}addSessionPage{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>

    <h1>Ajout d'une session</h1>
    {% if success %}
        <p>La session a été ajoutée avec succès</p>
    {% endif %}
    <form action="{% url 'session' %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" value="Ajouter">
        </p>
    </form>
     <br>
    <br>
    <br>
      <div class="action-buttons">
         <a href="{% url 'welcome' %}" class="btn-red">Retour à la page d'accueil</a>
      </div>
{% endblock %}
