{% extends 'base.html' %}
{% load static %}

{% block title %}détails de l'étudiant{% endblock %}

{% block bodyId %}studentDetailsPage{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>

  <h1>Détails de l'étudiant {{ student.first_name }} {{ student.last_name }}</h1>

  <h2>Inscriptions aux UEs :</h2>
  <ul>
    {% for registration in registrations %}
      <li>{{ registration.academic_ue.idUE }} - {{ registration.academic_ue.wording }}</li>
    {% empty %}
      <li>Aucune inscription</li>
    {% endfor %}
  </ul>

  <p><a href="{% url 'registration_view' student.id %}">Ajouter des UEs</a></p>
{% endblock %}
