{% extends "base.html" %}
{% load static %}

{% block title %}Lister les professeurs{% endblock %}

{% block bodyId %}teacherList{% endblock %}

{% block content %}
<h1>Liste des professeurs</h1>
<header class="welcome-header">
    <div class="user-info">
        Bienvenue sur IpefaSup, {{ logged_user.first_name }} {{ logged_user.last_name }}
    </div>
    <div class="date-time">
        Nous sommes le {{ current_date_time }}
    </div>
</header>

<!-- Liens pour trier les professeurs -->
<p>
    Trier par :
    <a class="sort" href="?sort_by=first_name">Prénom</a> |
    <a class="sort" href="?sort_by=last_name">Nom</a>
</p>

<!-- Tableau des professeurs -->
<table>
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Matricule</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.matricule }}</td>
            <td>
                <!-- Lien cliquable pour modifier le professeur -->
                <a href="{% url 'edit_teacher' teacher.id %}">Modifier</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Aucun professeur trouvé.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br><br>
<a href="{% url 'welcome' %}">Retour</a>

{% endblock %}
