{% extends "base.html" %}
{% load static %}

{% block title %}Bienvenue Administrateur{% endblock %}

{% block bodyId %}WelcomeAdminPage{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
     <header class="welcome-header">
        <div class="user-info">
            Bienvenue sur IpefaSup,  {{ logged_user.first_name }} {{ logged_user.last_name }}
        </div>
        <div class="date-time">
            Nous sommes le {{ current_date_time }}
        </div>
    </header>

    <h1>IpefaSup - Administrateur</h1>


    <a href="{% url 'register' %}">Créer un compte</a><br>
    <a href="{% url 'add_academic_ue' %}">Ajouter une unité académique</a><br>
    <a href="{% url 'add_ue' %}">Ajouter une unité d'enseignement</a><br>
    <a href="{% url 'student_list' %}">lister les étudiants</a><br>
    <a href="{% url 'teacher_list' %}">lister les professeurs</a><br>
    <a href="{% url 'registration' %}">Ajouter une unité registration</a><br>
    <a href="{% url 'participation' %}">Ajouter une Présence</a><br>
    <a href="{% url 'session' %}">Ajouter une session</a><br>
    <a href="{% url 'section' %}">Ajouter une section</a><br>
    <a href="{% url 'student_manage' %}">Gérer les étudiants</a><br>
    <a href="{% url 'ue_manage' %}">Gérer les UES</a><br>
    <a href="{% url 'section_list' %}">Gérer les inscriptions</a><br>

    <div class="action-buttons">
        <a href="{% url 'login' %}" class="btn-red">Quitter</a>
    </div>

{% endblock %}